{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container mt-5">
    <h2>Perfil do Usuário</h2>
    {% if user.is_authenticated %}
        <div class="row">
            <div class="col-md-4 text-center">
                <!-- Exibir foto de perfil -->
                {% if user.image %}
                    <img src="{{ user.image.url }}" alt="Foto de perfil" class="img-fluid rounded-circle" style="width: 150px; height: 150px;">
                {% else %}
                    <img src="{% static 'default.svg' %}" alt="Foto de perfil padrão" class="img-fluid rounded-circle" style="width: 150px; height: 150px;">
                {% endif %}
            </div>
            <div class="col-md-8">
                <h3>{{ user.name }}</h3>
                <p><strong>Email:</strong> {{ user.email }}</p>
                <p><strong>Telefone:</strong> {{ user.phone_number }}</p>
            </div>
        </div>
    {% else %}
        <h3>Não logado</h3>
    {% endif %}
</div>
{% endblock %}